
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: yellow;
background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/00/09/00/31562c78196990f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}